$primaryColor1: #01080E;
$primaryColor2: #011627;
$primaryColor3: #011221;

$secondaryColor1: #607B96;
$secondaryColor2: #3C9D93;
$secondaryColor3: #4D5BCE;
$secondaryColor4: #FFFFFF;

$accentColor1: #FEA55F;
$accentColor2: #43D9AD;
$accentColor3: #E99287;
$accentColor4: #C98BDF;

$linesColor: #1E2D3D;
$gradientColor1: #4D5BCE;
$gradientColor2: #43D9AD;